# Python cache
__pycache__/
*.pyc

# Log files
logs/*.log

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

feature/pre-commit-hooks
.env
venv/

.env 
feature/auth-and-roles
venv/ 

.coverage

venv/ .coverage
feature/pre-commit-hooks
main

 main
 main
